*{
    padding: 0;
    margin: 0;
}

.background {
    background-color: #121818;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.tile:first-child,
.tile:nth-child(2),
.tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(3n){
    border-right: none;
}

.tile:nth-child(3n+1){
    border-left: none;
}

.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
    border-bottom: none;
}

.playerX {
    color: #09c372;
}

.playerO{
    color: #498afb;
}

.controls {
    background-color: #121818;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498afb;
}

#reset {
    background-color: #ff3860;
}
